<!DOCTYPE html>
<html lang="{{ site.lang | default: "id-ID" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div id="page-ctn" contenteditable="false">
      <main id="content" class="main-content markdown-body" role="main">

        {{ content }}

      </main>
    </div>
  </body>
</html>
